@media (min-width:544px) {
    .nav-responsive li {
        display: inline-block;
    }

    .nav-responsive .nav-item+.nav-item {
        margin-left: 1rem;
    }

    .nav {
        padding: 0;
    }
    .brand-wrapper {
        display: block;
    }

    .nav {
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}

