body {
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #121212;
  }

p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
  }
hr {
    border: 1.5px solid #fefefe;
}

.h1 {
    font-weight: 500;
}

.h2 {
    font-weight: 400;
}

p {
    font-size: 1.125rem;
}

span {
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}

small {
    color: #000000;
    font-size: .875rem;
    font-weight: 600;
}

/* carousel styles */
.carousel-caption h3 {
    font-weight: 600;
    color: #ffffff;
}

.carousel-caption p {
    font-weight: 500;
    color: #ffffff;
}

.icon {
    color: #ffffff;
}

/* card styles */
.card {
    border: none;
}

.card-list {
    margin: 0;
    padding: 0 1rem;
}

.shop-col {
    margin: 0;
    padding: 0;
}

/* breadcrumb styles */
.breadcrumb {
    background-color: #9ab6db;
    color: #010101;
    padding: 1rem;
    border-radius: 5px;
    margin: 0;
}

.breadcrumb a {
    color: #000000;
}

.breadcrumb-item {
    color: #000000;
}

.breadcrumb-item:hover {
    color: #7a8fae;
}

.breadcrumb-item.active {
    color: #ffffff;
}

/* button styles */
.btn {
    background-color: #6b829e;
    color: #000000;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #7a8fae;
    color: #ffffff;
}

/* table styles */
.table {
    color: #000000;
    background-color: #9ab6db;
}

.table th {
    color: #000000;
}

.table td {
    color: #000000;
}

/* footer */
.footer {
    background-color: #9ab6db;
    color: #000000;
    padding: 30px 0;
}

.footer h4 {
      color: #000000;
}

.footer a {
      color: #000000;
}

.footer a:hover {
    background: #7a8fae;
    color: #000000;
}

